body {
  margin: 0;
}
* {
  font-family: "Noto Sans TC", sans-serif;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-image: linear-gradient(
    -0deg,
    hsla(161, 72%, 70%, 1) 0%,
    hsla(48, 77%, 70%, 1) 50%,
    hsla(0, 100%, 70%, 1) 100%
  ); */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(bg.jpg);
}
.pages {
  display: none;
}
.book {
  position: relative;
  display: block;
  /*background-color: #ddd;*/
  /*overflow: hidden;*/
}
.book .bottom {
  position: absolute;
  display: block;
}
.book .bottom .bottomPage {
  position: absolute;
  display: block;
  top: 0px;
  /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);*/
  overflow: hidden;
}
.book .bottom .bottomPage.left {
  left: 0px;
  background-color: #fff;
}
.book .bottom .bottomPage.right {
  background-color: #fff;
}
.book .content {
  position: relative;
  display: block;
  /*-webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));*/
}

.book .content .openedBack {
  position: absolute;
  display: block;
}
.book .content .openedCorner {
  position: absolute;
  display: block;
}

.back {
  position: absolute;
  display: block;
  background-color: #fff;
  overflow: hidden;
  /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);*/
}
.corner {
  position: absolute;
  display: block;
  background-color: #fff;
  /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1);*/
  overflow: hidden;
}
.item {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.item::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 100%;
  top: 0px;
  pointer-events: none;
}
.back.lt .item::after,
.back.lb .item::after,
.corner.rt .item::after,
.corner.rb .item::after,
.bottomPage.left .item::after {
  right: 0px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}
.back.rt .item::after,
.back.rb .item::after,
.corner.lt .item::after,
.corner.lb .item::after,
.bottomPage.right .item::after {
  left: 0px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

.shadow {
  position: absolute;
  display: block;
  pointer-events: none;
}

.bookControl {
  /*position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  left: 0px;
  bottom: 20px;*/
  position: relative;
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
.bookControl .button {
  position: relative;
  display: inline-block;
  padding: 15px 10px;
  background-color: rgba(238, 238, 238, 0.25);
  border: 1px solid #ccc;
  color: #eee;
  border-radius: 5px;
  cursor: pointer;
  /*box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);*/
}
.bookControl .button:hover {
  border-color: #cc2;
  color: #ee2;
}
.page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /*justify-content: center;
  align-items: flex-end;*/
  /*background-position: 50% 0%;
  background-size: auto 100%;*/
  border: 1px solid rgba(204, 204, 204, 0.25);
  box-sizing: border-box;
}
.pageContent {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/*.page:hover {
  animation: move 10s linear infinite;
}*/

.page .text {
  position: absolute;
  display: block;
  font-size: 20px;
  text-align: center;
  text-indent: 0.25em;
  letter-spacing: 0.25em;
  /*padding: 10px;*/
  text-shadow: 0px 0px 2px #fff;
  font-weight: bold;
  width: 100%;
  left: 0px;
  bottom: 20px;
}
.page .img {
  position: relative;
  display: block;
  font-size: 0px;
}
.page .img img {
  width: 100%;
}
@keyframes move {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  75% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.box {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 20px;
  background-color: #000;
  /*animation: rotate 2s linear infinite;*/
}

#start {
  background-position: center top;
  background-size: cover;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/cai-pusc007.appspot.com/o/cai001%2Fcontent%2F3D%2F-L9dkK5XX1MCy54V2vBr?alt=media&token=c3863680-7c79-491a-b379-12618e921691);
}
#page01 {
  background-color: #000;
}
#page02 {
  background-color: hsl(0, 100%, 90%);
}
#page03 {
  background-color: hsl(120, 100%, 90%);
}
#page04 {
  background-color: hsl(240, 100%, 90%);
}
#page05 {
  background-color: hsl(300, 100%, 90%);
}
#page06 {
  background-color: hsl(180, 100%, 90%);
}
#end {
  background-position: center top;
  background-size: cover;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/cai-pusc007.appspot.com/o/cai001%2Fcontent%2F3D%2F-L9dkK5XX1MCy54V2vBr?alt=media&token=c3863680-7c79-491a-b379-12618e921691);
}
